---
- name: Install mysql-server
  apt: name=mysql-server state=present

- name: Create /etc/mysql/my.cnf
  template: src=my.cnf dest=/etc/mysql/my.cnf owner=root group=root mode=0644
  notify: Restart mysql

- name: Ensure mysql service state
  service: name=mysql state=started
